[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosqlite = "*"
asyncpg = "*"
beautifulsoup4 = "*"
lxml = "*"
Pillow = "*"
loguru = "*"
wand = "*"
httpx = {extras = ["http2"], version = "*"}
python-telegram-bot = {version = ">=20", extras = ["all"]}
tortoise-orm = {extras = ["accel"], version = "*"}
telegraph = {extras = ["aio"], version = "*"}
uvicorn = "*"
asyncmy = "*"
redis = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.11"
