[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosqlite = "*"
asyncpg = "*"
beautifulsoup4 = "*"
lxml = "*"
loguru = "*"
wand = "*"
aiomysql = "*"
uvicorn = "*"
httpx = {extras = ["http2"], version = "*"}
pillow = "*"
python-telegram-bot = {extras = ["all"], version = "==20.7"}
telegraph = {extras = ["aio"], version = "*"}
tortoise-orm = {extras = ["accel"], version = "*"}

[dev-packages]
black = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
