[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosqlite = "*"
asyncpg = "*"
beautifulsoup4 = "*"
httpx = {extras = ["http2"], version = "*"}
lxml = "*"
python-telegram-bot = "==20.0a4"
telegraph = "*"
tortoise-orm = {extras = ["accel"], version = "*"}
Pillow = "*"
loguru = "*"
wand = "*"
aiomysql = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
